<%- include("partials/_header") %>

    <%- include("partials/_navbar") %>

        <div class="container">
            <div class="row">
                <!-- Form -->
                <%- include("partials/_form") %>
                    <!-- List -->
                    <%- include("partials/_table") %>
            </div>
        </div>

        <%- include("partials/_footer") %>